<div class="page-header"></div>

<!-- row of columns -->
<div class="row">
	<div class="span7 offset1">
		<h2>Users</h2>
	</div>
	<div class="span2 offset1">
		<!-- Button to trigger modal -->
		<button id="btnCreate" type="button" class="btn btn-primary" data-toggle="modal">Create user</button>
	 </div>
</div>
<div class="row">
	<div class="span1"></div>
	<div class="span10">
		<form class="navbar-form pull-left">
			<div class="input-append">
				<input type="text" class="span3">
				<button class="btn" type="button">Search</button>	
			</div>
		</form>
	</div>
	<div class="span1"></div>
</div>
<div class="row">
	<div class="span1"></div>
	<div class="span10">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
                	<th>Name</th>
	                <th>Username</th>
	                <th>Email address</th>
	                <th>Last Session</th>
				</tr>
            </thead>
            <tbody>
            	<tr>
            		<td>1</td>
            		<td>Paulo Franca</td>
            		<td>paulo</td>
            		<td>paulo@gmail.com</td>
            		<td>Never logged in</td>
            	</tr>
            	<tr>
            		<td>2</td>
            		<td>João Almeida</td>
            		<td>joao</td>
            		<td>joao@gmail.com</td>
            		<td>14/01/2015 08:25 PM</td>
            	</tr>
            	<tr>
            		<td>3</td>
            		<td>Rafael Pereira</td>
            		<td>rafael</td>
            		<td>rafael@gmail.com</td>
            		<td>28/09/2014 07:13 PM</td>
            	</tr>
            	<tr>
            		<td>4</td>
            		<td>Rodrigo Candido</td>
            		<td>rodrigo</td>
            		<td>rodrigo@gmail.com</td>
            		<td>02/11/2014 10:46 PM</td>
            	</tr>
            	<tr>
            		<td>5</td>
            		<td>Alexandre Barbosa</td>
            		<td>alexandre</td>
            		<td>alexandre@gmail.com</td>
            		<td>19/08/2013 12:49 PM</td>
            	</tr>
            </tbody>
		</table>
	</div>
	<div class="span1"></div>
</div>

<!-- modal create user -->
<div id="create" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h3>Create User</h3>
	</div>
	
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email address</label>
			    <div class="controls">
					<input class="input-xlarge" type="text" id="inputEmail" placeholder="Email">
			    </div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputName">Name</label>
			    <div class="controls">
					<input class="input-xlarge" type="text" id="inputName" placeholder="Name">
			    </div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
			    <div class="controls">
					<input class="input-xlarge" type="text" id="inputUsername" placeholder="Username">
			    </div>
			</div>
		</form>
	</div>
	
	<div class="modal-footer">
	  <a href="#" class="btn btn-primary">Create user</a>
	  <a href="#" class="btn">Cancel</a>
	  
	</div>
</div>
<!-- /modal create user -->

<hr>

<footer>
  <p>&copy; All rights reserved 2015</p>
</footer>